/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.card {
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    width: 18rem;
    min-width: 12rem;
    height: 15rem;
}
h1, h2, h3{
    display: flex;
    justify-content: center;
}